@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bokor&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kablammo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oxanium:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bokor&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kablammo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oxanium:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --blue-primary: #4169e1;
  --dark-gray: #787878;
}

body {
  margin: 0px;
  font-family: "Lato", serif;
}

header {
  border: none;
  position: relative;
  padding: 1rem;
  text-align: center;
  height: 30vh;
  width: 100%;
}

.container {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container > * {
  display: inline-block;
  vertical-align: middle;
}

#banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  background-color: var(--blue-primary);
  z-index: 0;
}

header > *:not(#banner) {
  z-index: 1;
}

main {
  background-color: pink;
}

#about-me {
  box-shadow: 3px 3px 10px 1px silver;
  background-color: white;
  align-self: stretch;
  margin: 1em 0;
  width: clamp(15rem, 25vw, 22rem);
  padding: 1rem;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

#about-me p {
  font-weight: 300;
}

h1 {
  font-size: 20px;
}

header h1,
p {
  margin-top: 0px;
  margin-bottom: 2rem;
  text-align: justify;
}

header img {
  width: clamp(14rem, 18vw, 15rem);
  height: 100%;
  box-shadow: 2px 2px 10px 1px silver;
}

#icons img {
  width: 20px;
}

#icons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

#image {
  position: relative;
  z-index: 2 !important;
}

#image img {
  float: left;
}

.bubble-text {
  font-weight: 900;
  font-family: "Lato", serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: white;
  -webkit-text-stroke: 0.5px black;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
